# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# clion
.idea
cmake-build-debug
bin
*.temp
.clwb
*.swp

# cscope
cscope.out
cscope.in.out
cscope.po.out
cscope.files
tags

.sconsign.dblite
build.err
build.log

# python
*.pyc


# protobuf
*.pb.h
*.pb.cc

# vscode
.vscode

# vimprj
.vimprj/

#log
*.log
runlog/

# history
.gdb_history

.clang-format
.clangd

# mac
.DS_Store

test/client/configs/*
!test/client/configs/.gitkeep

projects/*
docker/base/*
docker/debian*/*so*
!docker/base/Dockerfile
!docker/base/Makefile

# dingofs
dingofs/devops/projects/
dingofs/devops/ssh/
dingofs/devops/inventory
dingofs/BUILD_MODE
*.pyc
.facts/
*retry
# monitor
dingofs/monitor/prometheus/target.json

dingofs/docker/*/dingofs
dingofs/docker/*/dingofs
dingofs/docker/dingofs
dingofs/docker/base/*
dingofs/docker/debian*/*so*
!dingofs/docker/base/Dockerfile
!dingofs/docker/base/Makefile

__not_found__

# thirdparties
thirdparties/etcdclient/tmp/
thirdparties/etcdclient/*.h

.test
.note
.playground
.dumpfile
metastore_test.dat
GPATH
GRTAGS
GTAGS
core.*

third-party/build
third-party/installed

include/etcdclient/etcdclient.h
build

curvefs
dingo-eureka/*
dist/
